@model BusBookingSystem.Models.BuyTicketViewModel

<link rel="stylesheet" href="~/css/buy.css" />
<div class="page">
    <div class="form-container">

        <h1>Buy Ticket</h1>

        <form asp-action="Buy" asp-controller="BuyTicket" method= "post" >

            <div asp-validation-summary="All" class="validation-summary-errors"></div>

            <div class="field">
                <label>Ticket Duration</label>
                <select asp-for="Duration">
                    <option value="">-- Select Duration --</option>
                    <option value="1day">1 Day - $5</option>
                    <option value="1week">1 Week - $20</option>
                    <option value="1month">1 Month - $60</option>
                </select>
            </div>

            <div class="field">
                <label>Payer Name</label>
                <input asp-for="PayerName" />
            </div>

            <div class="field">
                <label>Phone Number</label>
                <input asp-for="PhoneNumber" />
            </div>

            <div class="field">
                <label>Payment Method</label>
                <select asp-for="PaymentMethod" id="paymentMethod">
                    <option value="">-- Select Method --</option>
                    <option value="CARD">Card</option>
                </select>
            </div>

            <div id="cardBox">
                <div class="field">
                    <label>Card Last 4 Digits</label>
                    <input asp-for="CardLast4" maxlength="4" />
                </div>
            </div>

            <button type="submit">Confirm Purchase</button>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const paymentMethod = document.getElementById("paymentMethod");
        const cardBox = document.getElementById("cardBox");

        function toggleCardBox() {
            cardBox.style.display = paymentMethod.value === "CARD"
                ? "block"
                : "none";
        }

        paymentMethod.addEventListener("change", toggleCardBox);
        toggleCardBox();
    </script>
 
}